/* .MuiBox-root.css-1n23kq8 {
  display: none;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-1l8j5k8 {
  display: none;
}
.back-button {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}
.back-button:hover {
  border: 1px solid #EB5930;
} */