.css-grid {
  display: grid;
  grid-template-rows: auto auto auto; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;    
  align-items: center;
}
.css-grid-child {
  display: flex;
  flex-direction: column;
  height: auto;
  grid-template-columns: repeat(8, minmax(10px, 1fr));
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #171E22;
  /* border-radius: 1rem 1rem 1rem 1rem; */
  border: 1px solid rgba(0, 0, 0, 0.383);
}

.css-grid-child:hover {
  border-color: #FFD115;
}

.flex {
  justify-content: space-evenly;
}